@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: #272B33; /* Fondo negro */
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;/*altura, centrar vertical la card*/
    color: #FFFFEE; /* Texto blanco */
}

#characterContainer {
    display:flex;
    padding-top: 90px;
}

#character {
    background-color: #3C3E44; /* Fondo para la tarjeta */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombras */
    border-radius: 10px;
    text-align: center;
    padding-bottom: 12px ;
}

img {
    height: auto;
    border-radius: 10px 10px 0 0;/*borde de arriba circular para la card*/
}

.detail h1 {
    font-size: 24px;
    margin: 10px 0;
}

.detail h2 {
    font-size: 20px;
    margin: 10px 0;
}

.detail p {
    font-size: 16px;
    margin: 5px 0;
    margin-bottom: 8px;
}

.gray {
    color: #8C9891;
}

a:-webkit-any-link {
    color: #FFFFEE;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #FF9800;
}

header {
    background-color: #272B33;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display:flex;
    padding-top: 26.5px;
    padding-left: 320px;
    padding-bottom: 14px;
    gap: 400px;
    float: center;
}
  
nav a {
    color: #ccc;
    font-size: 17px;
    text-decoration: none;
}
