@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
}

#locationsContainer {
    background: #272B33;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #FFFFEE;
}

.locations {
    background: #3C3E44;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombras */
}

.detail {
    padding: 15px;

}

*:-webkit-any-link {
    color: #FFFFEE;
    cursor: pointer;
    text-decoration: none;
}

.gray {
    color: #8C9891;
}

h1:hover{
    color: #FF9800;
}

.yellow:hover{
    color: #FF9800;
}

header{
    background: #272B33;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display:flex;
    padding-top: 26.5px;
    padding-left: 320px;
    padding-bottom: 14px;
    gap: 400px;
    float: center;
}

nav a {
    text-decoration: none;
}

.inpage:hover {
    color: #FF9800;
}

header:hover {
    color: #FF9800;
}