@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #272B33;
}

#locationsContainer {
    background: #272B33;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #FFFFEE;
    padding: 20px;
}

.locations {
    background: #3C3E44;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.detail {
    padding: 15px;
}

*:-webkit-any-link {
    color: #FFFFEE;
    cursor: pointer;
    text-decoration: none;
}

.gray {
    color: #8C9891;
}

h1:hover {
    color: #FF9800;
}

.yellow:hover {
    color: #FF9800;
}

header{
    background: #272B33;
    font-size: 18px;
}

nav ul {
    list-style: none;
    display:flex;
    padding-top: 26.5px;
    padding-left: 320px;
    padding-bottom: 14px;
    gap: 400px;
    float: center;
}
  
nav a {
    text-decoration: none;
}

.inpage:hover {
    color: #FF9800;
}

header:hover {
    color: #FF9800;
}

#Mas {
    display: block;
    margin: 20px auto;
    background-color: #FF9800;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFEE;
    box-shadow: 0 8px 12px rgb(25, 25, 25); /* Sombras */
}

#Mas {
    --btn-default-bg: #3C3E44;
    --btn-padding: 15px 20px;
    --btn-hover-bg: #3C3E44;
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FF9800;
    --default-btn-color: #ffffee;
    --font-size: 16px;
    --font-weight: 600;
  }
  
  #Mas {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
  }
  
  #Mas span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  #Mas span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
  #Mas:hover, #Mas:focus {
    background: var(--btn-hover-bg);
  }
  
  #Mas:hover span, #Mas:focus span {
    color: var(--hover-btn-color);
  }
  
  #Mas:hover span::before, #Mas:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }